/* div.box1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left:25px ;
    top: 25px;
    z-index: 5;
}
div.box2{
    width: 100px;
    height: 100px;
    background-color:red;
    position:absolute;
    left: 50px;
    top: 50px;
    z-index: 10;
}
div.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 75px;
    top: 75px; 
    z-index: 
} */