.div1{
    background-color:red ;
    float: right;
    padding: 15px;

}
.div2{
    background-color:yellow ;
  float: right;
  padding: 15px;

}
.div3{
    background-color:green ;
    padding: 15px;
    float: left;
}
p{
    clear: both;
}

div.clear{
    clear: both;
}