/* p::first-line{
    color: red;
    font-variant: small-caps;
}
p::first-letter{
    color:purple;
    font-size:xx-large ;
} */
p::before{
    content:"paragraf başlamadan yaılacak metin" ;
   color: blue ;
}
p::after{
    content:"paragraf biterken yaılacak metin" ;
   color: red ;
}
p::selection{ 
   color: red ;
   background-color: yellow;
}
